body {
    background-color: #cd5c5c;
}

h1 {
    color:#ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.one {
    background-color: rgb(215, 185, 230);
    color: red;
    
}


.two {
    color:aquamarine;
    
}

#three {
    color:rgb(226, 223, 58);
    
}

h2 {
    text-align: center;
}

ol {
    margin-left: 600px;
}